<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
        <div class="about-container">
            <div class="author-image">   
                <figure class="author-image">
                    <img id="author_image" src="{{site.author-image}}" alt="{{site.author-name}}">
                </figure>
            </div>
            <div class="columns">
                <div id="about-me">
                    <p id="author-about">
                        <b style="text-align: center; font-family:HeiTi">我的简介</b><i class="fa-solid fa-user-doctor fa-xl" style="color: #74C0FC;"></i> <br>
                        泌尿外科主治医，编程是业余爱好，
                        昆明医科大学泌尿外科学专业医学硕士在读。<br><br>

                        <b style="text-align: center; font-family:HeiTi">学习工作经历</b> <br>
                            2013年毕业于泸州医学院（现西南医科大学）临床医学专业<br>
                            2013-2022年就职于凉山州第二人民医院<br>
                            2014年取得医师资格证及执业医师证<br>
                            2014-2017年完成四川省住院医师规范化培训并取得规培结业证书（外科学）<br>
                            2017-2022凉山州第二人民医院泌尿外科<br>
                            2019.03-2019.09于山东省立医院泌尿微创一科进修<br>
                            2019年取得中级职称资格。<br>
                            2022年-至今 ：攻读昆明医科大学泌尿外科学硕士学位。<br><br>
                            <b style="text-align: center; font-family:HeiTi">感兴趣</b><br><br>
                            <img class="custom-icon" src="/assets/images/logo/R_logo.png" alt="R">&nbsp;&nbsp;
                            <img src="/assets/images/logo/py.png" alt="py" class="custom-icon">&nbsp;&nbsp;
                            <i class="fa-brands fa-js fa-2xl" style="color: #2c60ba;"></i>&nbsp;&nbsp;
                            <i class="fa-brands fa-css3-alt fa-2xl" style="color: #de731b;"></i>&nbsp;&nbsp;
                            <i class="fa-brands fa-html5 fa-2xl" style="color: #FFD43B;"></i>&nbsp;&nbsp;
                            <i class="fa-brands fa-markdown fa-2xl" style="color: #FFD43B;"></i>&nbsp;&nbsp;
                            <i class="fa-brands fa-linux fa-2xl" style="color: #0a0a0a;"></i>

                             </p>
                </div>
            </div>
        </div>
</section>

<link rel="stylesheet" href="../assets/css/about.css">