<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
        <div class="about-container">
            <div class="columns">   
                <figure class="author-image">
                    <img id="author_image" src="{{site.author-image}}" alt="{{site.author-name}}">
                </figure>
            </div>
            <div class="columns">
                <div id="about-me">
                        <p id="author-about">假如生活欺骗了你，不要悲伤，不要心急！忧郁的日子里须要镇静：<br>
                            相信吧，快乐的日子将会来临！<br>
                            心儿永远向往着未来；现在却常是忧郁。<br>
                            <b>一切都是瞬息，一切都将会过去；<br>
                            而那过去了的，就会成为亲切的怀恋。</b></p>
                </div>
            </div>
            <div class="columns">
                <figure class="daily-image">
                    <h3>每日一图</h3>
                    <img id="daily-image" src="https://img2.baidu.com/it/u=1628256265,15128068&fm=253&fmt=auto&app=138&f=JPEG?w=750&h=500"/>
                </figure>
            </div> 
        </div>
</section>

<link rel="stylesheet" href="../assets/css/about.css">