<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
        <div class="about-container">
            <div class="author-image">   
                <figure class="author-image">
                    <img id="author_image" src="{{site.author-image}}" alt="{{site.author-name}}">
                </figure>
            </div>
            <div class="columns">
                <div id="about-me">
                    <p id="author-about">
                        <b style="text-align: center; font-family:HeiTi">我的简介</b> <br>
                        我是邓凯，一个泌尿外科医生，一个计算机爱好者（技术小白），以及一个大龄研究生（34周岁），
                        目前正在昆明医科大学泌尿外科学专业攻读医学硕士学位。<br><br>

                        <b style="text-align: center; font-family:HeiTi">教育工作经历</b> <br>
                        2013年毕业于泸州医学院（现西南医科大学）临床医学专业<br>
                            2014年取得执业医师资格证及执业医师证<br>
                            2014-2017年完成四川省住院医师规范化培训并取得规培结业证书（外科学）<br>
                            2017-2022年就职于凉山州第二人民医院泌尿外科从事泌尿外科临床诊疗工作<br>
                            2019.03-2019.09曾在山东省立医院泌尿微创一科进修学习肾上腺高血压外科<br>
                            2019年取得主治医师资格证<br>
                            2022年- ：攻读昆明医科大学泌尿外科学硕士学位。（与中山大学孙逸仙纪念医院联合培养）<br><br>
                            <!-- <b style="text-align: center; font-family:HeiTi">我的小站</b> <br>
                            🌈“我的小站”主要用来记录工作学习当中的一些笔记，以备后续查询复习之用；同时亦记录生活杂事、日记感想。<br>
                            🏥本网站内容为工作笔记和生活日常记录性质，未涉及任何医疗和商业相关业务，如有相关需求请前往正规机构咨询。
                            🗂笔记内容为个人源于书籍或网络内容的整理，仅供参考，不保证内容的准确性，文章观点也不代表本人观点。<br>
                            网站内容若有侵权或错误之处请联系删除或更正🤝。 -->
                            ... </p>
                </div>
            </div>
        </div>
</section>

<link rel="stylesheet" href="../assets/css/about.css">