<link rel="stylesheet" href="../assets/css/contact.css">
<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="weixinpic">
       <p><b style="text-align: center; font-family:HeiTi">关于我的小站</b> <br><br>
                    <i class="fa-solid fa-bullseye" style="color: #74C0FC;"></i>
                    建站目的主要是为了学习站点建设相关技术，也希望能通过记笔记反过来监督自己学习和思考。主要记录工作、学习当中遇到的一些问题和解决的办法；以及笔记和网络文章整理。<br>
                    ▶ 全部的的笔记文章将出现在“笔记”栏目下，而“合集”栏目是为了阅读和查询方便，对一些文章的归纳整理<br><br>
                    <i class="fa-solid fa-circle-exclamation" style="color: #FFD43B;"></i>本网站不涉及任何医疗和商业相关业务。
                    🗂笔记内容仅供参考，不保证内容的准确性，文章观点也不代表本人观点。
                    若有侵权或错误之处请联系删除或更正🤝。📧<b>联络邮箱:</b><span style="color:#edb72e;">mnwkdengkai@163.com。</span></p>
    </div>
    <div class="hero-body">
        <div class="container">
            <!-- {% unless site.email == %} -->
            <a id="contact-button" href="{{site.url}}{{site.baseurl}}/#"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths">
                <i class="fas fa-home" style="color: #1949b2;"></i>&nbsp;回到首页
            </a>
            <!-- {% endunless %} -->
            <!-- {% unless site.twitter_username == %} -->
            <a id="contact-button" href="{{site.url}}{{site.baseurl}}/blog"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths">
                <i class="fas fa-pen-nib" style="color: #1949b2;"></i>&nbsp;浏览笔记
            </a>
            <!-- {% endunless %} -->
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                可以通过以下方式联系到我
            </h3>
            <div class="column is-full is-size-3">
                <a href="assets/images/contact/抖音号二维码.png" target="_blank" class="has-text-black"><i class="fab fa-tiktok"></i></a>
                <a href="assets/images/contact/视频号二维码.jpg" target="_blank" class="has-text-black"><img src="../assets/images/icon/视频号图标.png" class="custom-icon"></a>
                <a href="assets/images/testpage/微信公众号二维码.png" target = "_blank" class="has-text-black"><img src="../assets/images/icon/微信公众号图标.png" class="custom-icon"></a>
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}
            </div>
        </div>
    </div>
</section>
