<link rel="stylesheet" href="../assets/css/contact.css">
<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="weixinpic">
      <!-- <div class="pic" >
        <img class="wechatpic" src="../assets/images/testpage/微信公众号二维码.png" alt="pic1">
      </div>   
      <div class="pic">
        <img class="wechatpic" src="../assets/images/testpage/视频号二维码.png" alt="pic2">
      </div> -->
       <p><b style="text-align: center; font-family:HeiTi">关于我的小站</b> <br><br>
                    🌈我在学习生信分析过程中接触到R语言和python，进而接触到一些基本的编程和代码方面的知识，
                    认识到原来医学和代码竟能如此和谐的融汇交叉，这真是一件酷炫的事情！然而，探索越多，
                    不了解的东西也就越多。<br>
                    当我网络上搜索答案时，有时会看到别人漂亮的个人网站，了解一下似乎并不难实现，于是决定自己建一个，
                    一方面是为了记录自己的学习和生活，
                    另一方面也可以通过记笔记反过来监督自己学习和思考。<br>
                    ▶“我的小站”主要用来记录工作、学习当中的一些问题和解决的办法；同时亦记录生活杂事、日记感想。<br><br>
                    
                    <b>注意：</b>🏥本网站内容为工作笔记和生活日常记录，不涉及任何医疗和商业相关业务。
                    🗂笔记内容来源于阅读笔记、网络整理、以及自己的一些想法，仅供参考，不保证内容的准确性，文章观点也不代表本人观点。
                    若有侵权或错误之处请联系删除或更正🤝。📧<b>联络邮箱:</b><span style="color:#edb72e;">mnwkdengkai@163.com。</span></p>
    </div>
    <div class="hero-body">
        <div class="container">
            <!-- {% unless site.email == %} -->
            <a id="contact-button" href="{{site.url}}{{site.baseurl}}/#"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths">
                <i class="fas fa-home" style="color: #00bfff;"></i>回到首页
            </a>
            <!-- {% endunless %} -->
            <!-- {% unless site.twitter_username == %} -->
            <a id="contact-button" href="{{site.url}}{{site.baseurl}}/blog"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths">
                <i class="fas fa-pen-nib" style="color: #00bfff;"></i>浏览笔记
            </a>
            <!-- {% endunless %} -->
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                你可以通过以下方式联系我
            </h3>
            <div class="column is-full is-size-3">
                <a href="assets/images/contact/抖音号二维码.png" target="_blank" class="has-text-black"><i class="fab fa-tiktok"></i></a>
                <a href="assets/images/contact/视频号二维码.jpg" target="_blank" class="has-text-black"><img src="../assets/images/icon/视频号图标.png" class="custom-icon"></a>
                <a href="assets/images/testpage/微信公众号二维码.png" target = "_blank" class="has-text-black"><img src="../assets/images/icon/微信公众号图标.png" class="custom-icon"></a>
                {% unless site.twitter_username == %}
                <a href="https://twitter.com/intent/user?screen_name={{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter" style="color: #74C0FC;"></i></a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}
                {% unless site.youtube_channel_id ==  %}
                <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube" style="color: #cd2130;"></i></a>
                {% endunless %}
                <a href="http://www.zhihu.com/people/dk-22-37" target="_blank" class="has-text-black"><i class="fab fa-zhihu" style="color: #037fdd;"></i></a>
                <a href="https://space.bilibili.com/520779889?spm_id_from=333.1007.0.0" target="_blank" class="has-text-black"><img src="../assets/images/testpage/bilibili.svg" class="custom-icon" style="color: #037fdd;"></i></a>
            </div>
        </div>
    </div>
</section>
