<link rel="stylesheet" href="../assets/css/contact.css">
<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="weixinpic">
      <div class="pic" >
        <img class="wechatpic" src="../assets/images/testpage/微信公众号二维码.png" alt="pic1">
    </div>   
    <div class="pic">
        <img class="wechatpic" src="../assets/images/testpage/视频号二维码.png" alt="pic2">
    </div>
</div>
    <div class="hero-body">
        <div class="container">
            <!-- {% unless site.email == %} -->
            <a id="contact-button" href="{{site.url}}{{site.baseurl}}/#"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths">
                <i class="fas fa-home" style="color: #00bfff;"></i>回到首页
            </a>
            <!-- {% endunless %} -->
            <!-- {% unless site.twitter_username == %} -->
            <a id="contact-button" href="{{site.url}}{{site.baseurl}}/blog/"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths">
                <i class="fas fa-pen-nib" style="color: #00bfff;"></i>浏览笔记
            </a>
            <!-- {% endunless %} -->
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                你可以通过以下方式联系我
            </h3>
            <div class="column is-full is-size-3">
                <a href="assets/images/contact/抖音号二维码.png" target="_blank" class="has-text-black"><i class="fab fa-tiktok"></i></a>
                <a href="assets/images/contact/视频号二维码.jpg" target="_blank" class="has-text-black"><img src="../assets/images/icon/视频号图标.png" class="custom-icon"></a>
                <a href="assets/images/testpage/微信公众号二维码.png" target = "_blank" class="has-text-black"><img src="../assets/images/icon/微信公众号图标.png" class="custom-icon"></a>
                {% unless site.twitter_username == %}
                <a href="https://twitter.com/intent/user?screen_name={{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter" style="color: #74C0FC;"></i></a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}
                {% unless site.youtube_channel_id ==  %}
                <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube" style="color: #cd2130;"></i></a>
                {% endunless %}
                <a href="http://www.zhihu.com/people/dk-22-37" target="_blank" class="has-text-black"><i class="fab fa-zhihu" style="color: #037fdd;"></i></a>
                <a href="https://space.bilibili.com/520779889?spm_id_from=333.1007.0.0" target="_blank" class="has-text-black"><img src="../assets/images/testpage/bilibili.svg" class="custom-icon" style="color: #037fdd;"></i></a>
            </div>
        </div>
    </div>
</section>
