<link rel="stylesheet" href="../assets/css/showcase.css">
<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title-text">
        {{site.motto}}
      </h1><br>
      <h3 class="sub-title-text">这里是<span id="has-text-important">DK</span>的个人网站</h3>
       <p class="small-text"><i class="fas fa-clock"></i>  最近更新：{{site.time | date: '%Y-%m-%d'}} <p>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/blog"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">看笔记</a>
      </a>
      <a href="{{site.url}}{{site.baseurl}}/#contact"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">联系我</a>
    </div>
  </div>
</section>