<link rel="stylesheet" href="../assets/css/showcase.css">
<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title-text">
        {{site.motto}}
      </h1><br>
      <h3 class="sub-title-text">欢迎来到<span id="has-text-important">DK</span>的小站</h3>
       <p class="small-text">最近更新：{{site.time | date: '%Y-%m-%d'}} <p>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">随便逛逛</a>
      </a>
      <a href="{{site.url}}{{site.baseurl}}/#contact"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">交个朋友</a>
    </div>
  </div>
</section>