<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white">
        {{site.motto}}
      </h1><br>
      <h3 class="is-size-4 has-text-white">这里是<span class="has-text-info">DK</span>的小站</h3>
       <p class="is-size-6 has-text-white"><i class="fas fa-clock"></i>  最近更新：{{site.time | date: '%Y-%m-%d'}} <p>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/blog"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">更多</a>
      </a>
    </div>
  </div>
</section>