@charset "utf-8"; /* 声明字符编码为 UTF-8。*/ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css');

// 设置整个文档的基本样式
html,
body {
    font-family: 'Times New Roman', sans-serif;
    scroll-behavior: smooth !important;
    transition: all 0.25s ease; /* 定义元素过渡效果 */
}


// 自定义滚动条样式
/* width */
::-webkit-scrollbar {
    width: 0.3vmax !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(228, 223, 223) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #787575 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(141, 140, 137, 0.938) !important;
}

// 搜索框内占位符样式
::placeholder {
    font-family: 'KaiTi', sans-serif;
}

// 导航栏样式
#navbar {
    .navbar-burger {
        span:nth-child(2) {
            left: calc(50%);
            width: 8px;
        }
    }
}

// 激活状态样式
.is-active {
    font-weight: bold;
}

// 列和按钮样式
.columns {
    .button {
        margin: 0.5rem !important;
    }
}

// 水平线样式
hr {
    margin: 1rem auto;
    height: 1px;
}

.column {
    margin: auto 0.5rem;
    padding: 0.5rem;
}

// 定义搜索结果样式
.searchResult {
    a {
        .title {
            text-decoration: underline;
        }
    }
}