.hero-body {
  margin-top: 5%;
}
.about-container {
  margin: 5% 1%;
  display: flex;
  flex-wrap: wrap;
  padding: 5% 1px;
  justify-content: center;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;
  height: auto;
  margin: 5px 1%;
}

#about-me {
  margin: 50px 20px;
  width: 100%;
  height: auto;
  text-align: left;
  display: flex;
}

#author-about {
  font-weight: 300;
  font-size: 1rem;
  font-family: KaiTi;
}


.author-image {
  width: 200px;
  height: auto;
  align-content: center;
  margin-top: 30px;
}

#author_image {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}

.daily-image {
  width: 400px;
  height: auto;
  margin-top: 40px;
}

#daily-image {
  width: 350px;
  height: auto;
  border: none;
  margin-top: 10px;
}

.daily-image h3 {
  font-size: 1.2rem;
  text-align: center;
}