.hero-body {
  margin-top: 5%;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#about-me {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0rem 2rem;
  width: 100%;
  padding-top: 8%;
}

#author-about {
  font-weight: 300;
  font-size: 1.3rem;
  font-family: KaiTi;
}

.column-image {
  margin-top: 20px;
  width: auto;
  height: 30%;
}

.column-image-inner {
  width: 100%;
  height: auto;
} 

#select-image {
  width: 100%;
  height: auto;
}

.columns-contain-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}