
.weixinpic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 220px;
    margin-bottom: 30px;
    position: relative;
   justify-content: center;
    height: 200px;
    width: 100%;
}
.pic {
    position: relative;
    display: flex;
    width: 23%;
    height: auto;
    margin: 1%;
    justify-content: center;
    /* border: solid; */
    border-width: 2px;
    border-color: gray;
}
.wechatpic {
    display: flex;
    position: relative;
    width: 165px;
    height: auto;
    justify-content: space-around;
}

.hero-body {
    margin: 0rem 1.5rem 3rem 1.5rem;
    padding-top: 1px;
}
