#footer-main {
    display: flex;
    
}

#footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#left-section {
    display: flex;
    width: 100%;
}

#name_section {
    width: 500px;
    height: auto;
    align-content: center;
    justify-content: center;
}

#blog_section {
    width: 500px;
    height: auto;
    margin-left: 18%;
}

#blog_section h3 {
    color:rgb(9, 124, 170);
    font-size: 1rem;
    font-family: 'KaiTi';
}

#blog_section li a {
    color:rgb(209, 214, 214);
    text-align: center;
    font-size: 1rem;
    font-family: 'KaiTi';
}

#blog_section li a:hover {
    color:rgb(236, 143, 30);
}

#name_text {
    font-size: 24px;
    font-weight: bold;
    color:rgb(215, 217, 217);
}

#author_image {
    justify-content: center;
    align-items: center;
}

#motto {
    font-family: 'KaiTi';
    font-size: 1rem;
}