---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <style>
        #project-body {
            margin: auto 0;
            padding: 0;
        }
    </style>
</head>

<body id="project-body">
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <h1>{{page.title-text}}</h1>
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">{{content}}</p>
                </div>
                {% include project-card.html %}
            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
    
</body>

</html>