---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <style>
        .section h1 {
            font-size: 2rem;
            color: rgb(9, 111, 174);
            font-weight: 500;
        }
        .section p {
            text-align: left;
            font-size: 1.2rem;
        }
    </style>
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <h1>{{page.title-text}}</h1>
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">{{content}}</p>
                </div>
                {% include project-card.html %}
            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
    
</body>

</html>